/* katik */
.main-header{
    background-color:#162942 ;
    color: #ffffff;
    padding: 12px;
    text-align: center;  
}
.main-header>h1 {
    margin: 0px;
}
.main-header>p {
    margin: 0px;
    font-family: math;
}

/* intro/welcome */
.main{
    margin: 20px;
}
.main-h{
    color:rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}
.main-h>h1{
    margin: 0px;
}

/* pilihan b.datar */
.nav-fiture {
    display: flex;
    flex-direction: row;
}
.nav-fiture>a {
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
    border-radius: 1rem;
    text-align: center;
}
.nav-fiture-non-active {
    background-color: rgb(36, 45, 68);
}

.nav-fiture-active {
    background-color: rgb(13, 21, 80);
}

/* gambar persegi  */
.selection-image img {
    background-image: url(..assets\persegi.jpg);
    width: 200px;
    height: auto; 
    display: block;
    margin: 0 auto; 
}
/* keterangan bangun datar */
.selection-header1>h1{
    text-align: center;
    background-color: #a3d0ec;
}


/* luas persegi  */
.calculate-content {
    border: 1px solid;
    height: 500px;
    text-align: center;
}
.inputsisi{
    width: 300px;
    height: 30px;
}
.buttonsisi{
    background-color: #a3d0ec;
    border: 1px solid;
}

/* keliling persegi   */
.calculate-content-k{
    border: 1px solid;
    height: 500px;
    text-align: center;
}
.inputsisi-k{
    width: 300px;
    height: 30px;
}
.buttonsisi-k{
    background-color: #a3d0ec;
    border: 1px solid
}

footer {
    text-align: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 400px){
    .nav-fiture{
        display: flex;
        flex-direction: column;
    }
}