/* katik */
.main-header{
    background-color:#162942 ;
    color: #ffffff;
    padding: 12px;
    text-align: center;  
}
.main-header>h1 {
    margin: 0px;
}
.main-header>p {
    margin: 0px;
    font-family: math;
}

/* intro/welcome */
.main{
    margin: 20px;
}
.main-h{
    color:rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
}
.main-h>h1{
    margin: 0px;
}

/* pilihan bangun datar */
.nav-fiture {
    display: flex;
    flex-direction: row;
}
.nav-fiture>a {
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 50%;
    align-self: center;
    border-radius: 1rem;
    text-align: center;
    background-color: rgb(0, 6, 54);
}

/* keterangan b.datar  */
.selection-bdatar{
    text-align: center;
    margin: 17px;
}

/* gambar */
.selection-image img{
    background-image: url('../assets/persegi.jpg');
    width: 200px;
    height: auto; 
    display: block;
    margin: 0 auto; 
}
/* rumus luas dan keliling */
.selection-header1{
    width: 200px;
    background-color: #4163793b;
    padding: 12px;
    margin: 12px;
    border-radius: 1rem;
}
.selection-header1>h2{
    text-align: center;
}

/*hitung persegi dan persegi panjang*/
.calculate-content {
    border: 1px solid;
    border-radius: 1rem;
    background-color:rgba(176, 177, 184, 0.219) ;
    height: 250px;
    text-align: center;
}
/* input angka  */
.input-bdatar{
    width: 170px;
    height: 30px;
}
.buttonhitung{
    background-color: #a3d0ec;
    border: 1px solid;

/* input panjang dan lebar  */
}.input-panjang{
    flex-direction: row;
}

footer {
    text-align: center;
}

/* RESPONSIVE */
@media only screen and (max-width: 400px){
    .nav-fiture{
        display: flex;
        flex-direction: column;
    }
}