.main-header{
    background-color:#162942 ;
    color: #ffffff;
    padding: 12px;
    text-align: center;
}
.main-header>h1 {
    margin: 0px;
}
.main-header>h4 {
    margin: 0px;
    font-family: math;
}

.main{
    margin: 20px;
    
}
.main-h{
    color:rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    
}
.main-h>h1{
    margin: 0px;
}
.persegi{
    background-color: #4a9acb ;
    border-radius: 1rem;
    color: #02012c;
    text-align: center;
    padding: 2px;
}
.nav-fiture{
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    
}
.nav-f1{
    background-color:#97d4f1;
    color: #05004b;
    border-radius: 100%;
    padding: 20px;
}
.nav-f2{
    background-color:#d8e7ee;
    color: #718bad;
    border-radius: 1000%;
    padding: 20px;
}
.selection-header1{
    text-align: center;
    color:#010a14;
}
.selection-header1>p{
    color:#000000;
    text-align: left;
}

.selection-image img {
    background-image: url(..assets\persegi.jpg);
    width: 300px;
    height: auto; 
    display: block;
    margin: 0 auto; 
}

.calculate-content {
    border: 1px solid;
    height: 500px;
    text-align: center;
}
.inpultsisi{
    width: 300px; /* Membuat tabel selebar kontainer */
    height: 30px;
}
.buttonlsisi{
    background-color: #a3d0ec;
    border: 1px solid
}


footer {
    text-align: center;
}